<!DOCTYPE html>
<html lang="en">
<head>
 {{>links}}
</head>
<body>
  {{>header}}
 <main>
   <section class="hero">
    <h1 class="title" data-aos="fade"    data-aos-duration="1000">BRIGHT MOON PUBLIC SCHOOL</h1>
    <p class="u_title" style="text-align: center ; font-weight: 900;" data-aos="fade-right"    data-aos-duration="1500">  distinctio exercitationem at aspernatur rem qui odio aut ab quis. Tenetur nulla libero consectetur non possimus cumque illo porro, temporibus quas.</p>
    <div class="buttons">
        <button class="btn btn1" data-aos="fade-right"    data-aos-duration="1500"><a href="/about">ABOUT</a></button>
        <button class="btn btn2 " data-aos="fade-left"    data-aos-duration="1500">Learn More</button>
    </div>
    <div class="top">
        <p class="topin">
            Top Activities
        </p>
        <div class="activity">
            <div class="item1" >sports</div>
            <div class="item1">sports</div>
            <div class="item1">sports</div>
            <div class="item1 ">sports</div>
            <div class="item1 item2">sports</div>
            <div class="item1" >sports</div>
        </div>
    </div>
   </section>
 </main>
</div>
<section id="courses">
<div class="discription">
    <div class="heading">This is Why <br>
        We have Solid Idea</div>
        <p class="sub_h">There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station. In the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        <button class="btn btne">Exlpore us</button>

</div>
<div class="subjects">
    <div class="sub">  
    <div class="subject1"  data-aos="fade-up-right" data-aos-duration="1000">subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
    <div class="subject1" data-aos="fade-up-right" data-aos-duration="1000" >subject</div>
</div>
</div>
</section>


<!-- features startt -->
<section class="features" id="features">
    <h1 class="heading feat" style="text-align: center;">Features That Make Us Hero</h1>
    <p style="text-align: center; " class="sub_h">If you are looking at blank cassettes on the web, you may be very confused at the difference in price. <br> You may see some for as low as $.17 each.</p>
    <div class="feature_d">
        <div class="car1" data-aos="fade-up" data-aos-duration="2000">
            <i class="fa-solid fa-crown"></i>
            <h2>Architecture</h2>
             <p class="car1_p">Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.</p>
        </div>
        <div class="car1" data-aos="fade-up" data-aos-duration="2000">
            <!-- <i class="fa-solid fa-crown"></i> -->
            <i class="fa-solid fa-briefcase"></i>
            <h2>Interior Design</h2>
             <p class="car1_p">Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.</p>
        </div>
        <div class="car1" data-aos="fade-up" data-aos-duration="2000">
            <!-- <i class="fa-solid fa-crown"></i> -->
            <i class="fa-solid fa-medal"></i>
            <h2>Concept Design</h2>
             <p class="car1_p">Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.</p>
        </div>
    </div>
    <div class="feature_d" >
        <div class="car1" data-aos="fade-up" data-aos-duration="2000" >
            <i class="fa-solid fa-crown"></i>
            <h2>Our Passion</h2>
             <p class="car1_p">Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.</p>
        </div>
        <div class="car1" data-aos="fade-up" data-aos-duration="2000" >
            <i class="fa-solid fa-crown"></i>
            <h2>Hard Work</h2>
             <p class="car1_p">Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.</p>
        </div>
        <div class="car1"data-aos="fade-up" data-aos-duration="2000" >
            <i class="fa-solid fa-crown"></i>
            <h2>Proper Guidance</h2>
             <p class="car1_p">Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.</p>
        </div>
    </div>
</section>
<!-- features end -->



<!-- explore more section -->
<section class="explore_more " id="explore_more">
    <!-- <h2></h2> -->
    <h1 class="heading feat" style="text-align: center;">Salient Features of Bright Moon Public School</h1>

    <!-- <p>Bright Moon School School reflect the goods for this world & hereafter.</p> -->
    <p style="text-align: center; " class="sub_h">Bright Moon School School reflect the goods for this world & hereafter.</p></p>
    <div class="feature_d wrapi">
<div class="car1 car2" data-aos="fade-up" data-aos-duration="2000">
 <img src="https://das.edu.pk/wp-content/uploads/2019/02/personality_development-1.svg" alt="">
 <h2>PERSONALITY DEVELOPMENT</h2>
  <p class="car1_p">The teachers emphasizes on the personality development of the students besides providing meaningful education.</p>
</div>
<div class="car1 car2" data-aos="fade-up" data-aos-duration="2000">
 <img src="	https://das.edu.pk/wp-content/uploads/2019/02/hifz-e-quran.svg" alt="">
 <h2>HIFZ QURAN-E-KAREEM</h2>
  <p class="car1_p"  >Important wing of Department of Quranic studies offers this opportunity to talented students only.</p>
</div>
<div class="car1 car2" data-aos="fade-up" data-aos-duration="2000">
    <img src="https://das.edu.pk/wp-content/uploads/2019/02/co-curricular.svg" alt="">
 <h2>CO-CURRICULAR ACTIVITIES</h2>
  <p class="car1_p">These includes Sports Competition,  Education Trips, Quiz Programs and Debates on different events.</p>
</div>

    </div>
</section>

<!-- end explore more section -->
<!-- ?book section start -->

<section class="books">
    <h1 class="heading feat" style="text-align: center; padding:20px 0px 30px 0px ;">BMPS Books</h1>
    <p style="text-align: center;  " class="sub_h border_u" data-aos="fade-up-right" data-aos-duration="2000" >Bright Moon School School reflect the goods for this world & hereafter.</p></p>
<div class="all_slide">
    <div class="left"> &lt </div>
<div class="b_gallery " data-aos="fade-up-right" data-aos-duration="2000">
    <div class="imag_slid">
        <img src="	https://das.edu.pk/wp-content/uploads/2019/02/Workbooks-Grade-6-7.jpg" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
    </div>
    <div class="imag_slid">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
    </div>
    <div class="imag_slid">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
        <img src="./BRIGHT MOON MONOGRAM.png" class="imeg" alt="" srcset="">
    </div>
</div>
<div class="right"> 	&gt; </div>
</div>
</section>
<!-- ?book section end -->




<!-- manager_section -->
<section class="executives">
    <h1 class="heading feat exe" style="text-align: center; padding:20px 0px 30px 0px ;">Executives</h1>
    <p style="text-align: center ;  " class="sub_h p_pad" data-aos="fade-up-right" data-aos-duration="2000" >"Leading with purpose, shaping tomorrow's leaders today. Empowering minds, fostering innovation, and cultivating a community of lifelong learners. Our school executives are the architects of a brighter future."</p></p>
<div class="images">
    <div class="exe_div" >
        <figure class="imge_card" data-aos="fade" data-aos-duration="2000">
            <img src="./sir_pic.jpg" alt="" srcset="">
            <figcaption>Razzaq Muhammad Razzqi</figcaption>
            <p class="img_sub">Prof. Irfan Ahmad Chaudhry is a well-known islamic scholar of Pakistan</p>
        </figure>
        <figure class="imge_card" data-aos="fade" data-aos-duration="2000">
            <img src="./sir2_pic.jpg" alt="" srcset="">
            <figcaption>Zubair Razzaqi</figcaption>
            <p class="img_sub">Prof. Irfan Ahmad Chaudhry is a well-known islamic scholar of Pakistan</p>

        </figure>
    </div>
</div>
</section>
<!-- manager_section end -->


    <script src="index.js"></script>

    <!-- aos js link -->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>