  <header>
        <nav>
            <div class="logo">
                 BMPS                
            </div>
            <ul >
                <li><a href="/">Home</a></li>
                <li><a href="#courses">Courses</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#explore_more">Explore More</a></li>
                <li><a href="/about">about</a></li>
            </ul>
            <div class="hamburger ">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>
